---
import { Image } from "astro:assets";
import HomeSection from "../../components/HomeSection.astro";
import TopNav from "../../components/TopNav.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import AboutBlurbList from "../../components/AboutBlurbList.astro";
import PageHeader from "../../components/PageHeader.astro";

const blurbEntries = await getCollection("posts");
const blurbs = blurbEntries.filter((blurb) => blurb.data.blogExclude).sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<Layout>
  <TopNav />
  <PageHeader leftRight="left">About Regal</PageHeader>
  <HomeSection darkBg={false} border={[]}>
    <!-- <div id="outerAboutBox" class="grid grid-cols-4 col-start-2 col-span-10 gap-5"> -->

    <!-- <div class="col-span-3"> -->
    <AboutBlurbList blurbs={blurbs} />
    <!-- </div> -->
    <!-- </div> -->
  </HomeSection>
</Layout>

<style>
  h1 {
    font-family: "Prospekt Regular", sans-serif;
  }
</style>
