---
import { getCollection } from "astro:content";
import PostList from "../../components/PostList.astro";

import Layout from "../../layouts/Layout.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import TopNav from "../../components/TopNav.astro";
import PageHeader from "../../components/PageHeader.astro";
import HomeSection from "../../components/HomeSection.astro";
import HomeContentBox from "../../components/HomeContentBox.astro";

const tags = await getCollection("tags");

// TODO: make this a layout, and use in the [...tag] page
---

<Layout>
  <TopNav />
  <PageHeader>Regal's Blog</PageHeader>
  <HomeSection darkBg={false} border={[]}>
    <HomeContentBox columns={["col-span-12"]}>
      <!-- Tags -->
      <div class="mb-8 flex flex-wrap gap-2">
        {
          tags.map((tag) => {
            const classes = ["bg-red-700", "text-white", "hover:bg-yellow-300"];
            // if (tag.id === tagName) {
            //   classes[0] = "bg-red-500";
            // }
            return (
              <a href={`/blog/tagged/${tag.id}`} class={classes.join(" ")}>
                #{tag.id}
              </a>
            );
          })
        }
      </div>
      <div class="flex">
        <h2>Year</h2>
        <PostList />
      </div></HomeContentBox
    >
  </HomeSection>
</Layout>
