---
import { getCollection } from "astro:content";
import PostList from "@components/PostList.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import TagContents from "@components/TagContents.astro";

const tags = await getCollection("tags");
---

<BlogLayout>
  <Fragment slot="tag-list">
    <div class="py-4 px-2 rounded-lg w-full text-white">
      <TagContents tagIds={tags.map((tag) => tag.id)} />
    </div>
  </Fragment>
  <Fragment slot="post-list">
    <PostList />
  </Fragment>
</BlogLayout>
