@import "tailwindcss";
:root {
  --header-typeface: "Roboto-VariableFont_wdth,wght";

  --link-color: #eab308;
}
.prose {
  --tw-prose-bullets: theme(--color-yellow);
  --tw-prose-counters: theme(--color-yellow);
  --tw-prose-captions: theme(--color-slate-400);
}

/* Rehype Plugin Code Blocks Styling */
.prose pre {
  text-wrap: wrap;
  padding: calc(theme(--spacing) * 4);
}

figcaption[data-rehype-pretty-code-title] {
  background-color: #262335;
  display: inline-block;
  padding: calc(theme(--spacing) * 2) calc(theme(--spacing) * 4) calc(theme(--spacing) * 1) calc(theme(--spacing) * 4);
  /* border-radius: calc(theme(--spacing) * 2) calc(theme(--spacing) * 2) 0 0; */
}

.prose p > code {
  padding: calc(theme(--spacing) * 1) calc(theme(--spacing) * 2);
  border-radius: calc(theme(--spacing) * 2);
}

.prose code {
  padding: calc(theme(--spacing) * 4);
}

.prose pre {
  border-radius: 0;
}

.rehype-pretty-copy {
  margin-right: calc(theme(--spacing) * 4) !important;
}

/* Forcing edits on Prose blog post styling */
.prose img {
  margin-bottom: 0;
}
.prose blockquote > p::before {
  content: none;
}
.prose blockquote > p::after {
  content: none;
}
.prose code::before {
  content: none;
}
.prose code::after {
  content: none;
}

.prose .emojiBlockQuote {
  margin-top: 0;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 6);
  /* border-left: none; */
}
.prose .emojiBlockQuote p {
  margin: 0;
}

.footnotes {
  border-top: 2px solid white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-typeface, sans-serif);
}
