---
import HomeContentBox from "../components/HomeContentBox.astro";
import HomeSection from "../components/HomeSection.astro";
import PageHeader from "../components/PageHeader.astro";
import TopNav from "../components/TopNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <TopNav />
    <PageHeader>Credits</PageHeader>
    <HomeSection darkBg={false} border={[]}>
        <HomeContentBox columns={["lg:col-start-3 lg:col-span-8 xs:col-start-2 xs:col-span-10 col-start-1 col-span-12"]}>
            <div class="flex flex-col">
                <div>
                    <h2 class="text-5xl xs:text-6xl underline decoration-4 decoration-redLight mb-5 text-center">Art Credits</h2>
                </div>
            </div>
        </HomeContentBox>
    </HomeSection>
    <style>
        h1,
        h2 {
            font-family: "Prospekt Regular", sans-serif;
            color: white;
        }
    </style>
</Layout>
