---
interface Props {
  url: string;
  wip?: boolean;
}

const { url, wip = false } = Astro.props;
---

<a class:list={["font-medium text-lg  w-max"]} href={url}>
  <button class:list={["border-yellow hover:bg-yellow rounded-md border-2 hover:text-black p-2 hover:cursor-pointer"]}>
    <slot />
  </button>
</a>
