---
interface Props {
  color?: string;
}

const { color } = Astro.props;
const chistarColor = `${color ? color : ""}`;
---

<span class=`chistar ${chistarColor}`>CHISTAR</span>

<style>
  .chistar {
    font-family: "BigShouldersText-VariableFont_Wght", sans-serif;
    font-variant-ligatures: discretionary-ligatures;
  }
</style>
