---
import { Image } from "astro:assets";
import Link from "@components/Link.astro";
import argentAss from "@assets/argent/argentAss.png";
import BadgeDisplay from "@components/BadgeDisplay.astro";
import SocialsList from "@components/SocialsList.astro";
import CobraLogo from "@components/CobraLogo.astro";
import Wrench from "@assets/mutantEmoji/utility/wrench.png";

interface Props {
  homePage?: boolean;
}

const splitUrl: string[] = Astro.url.pathname.split("/");

const lickJoke = splitUrl[1] === "lick";

const { homePage } = Astro.props;
// NOTE: Height of footer must be offset by padding-bottom in Layout
---

<footer
  class:list={[
    "bg-redDark border-redLight  text-stone-200 table-row h-auto border-separate ring-8 ring-redLight px-[var(--gutter)]",
    `${homePage ? "min-h-[225px]" : "min-h-[75px]"}`,
  ]}
>
  {
    homePage && (
      <div class="flex flex-col xs:grid grid-cols-2 gap-2 m-5 pb-5 border-b-2 border-dashed border-yellow">
        <div class="flex flex-col justify-center items-center gap-2 disabled">
          <h2 class="text-2xl font-bold flex gap-2">
            <Image class="max-w-8" src={Wrench} alt="wrench" />
            Under Construction
            <Image class="max-w-8" src={Wrench} alt="wrench" />
          </h2>
          <Link url="">
            <h2 class="text-xl font-bold line-through">Furry Fitness Webring</h2>
          </Link>
          <ul class="flex justify-center gap-10 line-through">
            <li>
              <Link url="">←︎ Previous</Link>
            </li>
            <li>
              <Link url="">Next →︎</Link>
            </li>
          </ul>
        </div>
        <div>
          <BadgeDisplay collection="standardBadges" />
        </div>
      </div>
      // <button id="snakeMode" class="absolute bottom-0 left-0 p-1 ml-1 mb-1 border-white border-2 rounded-lg text-sm opacity-50 hover:cursor-pointer hover:opacity-80">Snake Mode?</button>
    )
  }
  <div class="flex flex-col flex-wrap gap-4 p-5">
    <nav id="linkBox" class="grid grid-cols-2 xs:flex col-span-3 gap-5 justify-around w-full pb-5">
      <div class="flex flex-col ml-[25%] xs:ml-0">
        <h2 class="text-xl xs:text-3xl xl:text-4xl font-bold">Socials</h2>
        <SocialsList logos={false} siteGroup="socials" />
      </div>
      <div class="flex flex-col ml-[25%] xs:ml-0">
        <h2 class="text-xl xs:text-3xl xl:text-4xl font-bold">Cool Stuff</h2>
        <ul>
          <li>
            <Link url="/about"> About Me </Link>
          </li>
          <li>
            <Link url="/links"> Links </Link>
          </li>
          <li>
            <Link url="/blog"> Blog </Link>
          </li>
        </ul>
      </div>
      <div class="flex flex-col ml-[25%] xs:ml-0">
        <h2 class="text-xl xs:text-3xl xl:text-4xl font-bold">Site Info</h2>
        <ul>
          <li>
            <Link url="/credits"> Site Credits </Link>
          </li>
          <li>
            <Link url="https://github.com/RegalRegex/cobra.monster"> Github </Link>
          </li>
        </ul>
      </div>
      <a
        href="/lick"
        class:list={["hidden xs:flex justify-self-center aspect-square max-w-[100px] hover:animate-assJiggle", `${lickJoke ? "animate-assJiggle" : ""}`]}
      >
        <Image class="drop-shadow-lg" src={argentAss} alt="woohooehehee" />
      </a>
    </nav>
    <a href="/" class="w-full justify-center md:hidden flex items-center brightness-90 py-16 xs:py-5 border-t-2 border-slate-200">
      <div class="w-18 -ml-10">
        <CobraLogo />
      </div>
      <div class="text-white text-3xl flex items-center font-medium font-prospekt">
        COBRA<span class="text-4xl mb-1">★</span>MONSTER
      </div>
    </a>
  </div>
</footer>

<style>
  .disabled {
    pointer-events: none;
  }
  #snakeMode {
    font-family: "Snake Chan";
  }
</style>
