---
import argentCommCoffee from "../assets/argent/CommunismCoffeeArgent.png";
import TextDeco from "./TextDeco.astro";
import { Image } from "astro:assets";
import ChiStar from "./ChiStar.astro";
import cozyArgent from "../assets/argent/cozyCoffeeArgent_Oblvon.png";
import CobraLogo from "./CobraLogo.astro";
---

<header class="grid grid-cols-12 place-items-center mx-auto pb-10 border-b-4 border-dashed border-yellow-500">
  <div class="border-4 bg-boxPrimary border-yellow-500 col-start-2 col-span-10 rounded-lg relative max-w-[1000px]">
    <!-- Main Box -->
    <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-2">
      <!-- Just Text (Column 1)-->
      <div class="grid grid-rows-1 lg:flex flex-col">
        <div class="text-white flex flex-col ml-2 row-start-2 flex-1 justify-around items-center">
          <div class="flex-col flex mb-5 lg:mb-0">
            <h2 class="text-6xl tracking-wide text-center">
              Hi I'm <span class="text-8xl"><br />Regal!</span>
            </h2>

            <div class="text-md border-t-2 border-red-600 text-slate-200 text-center">
              <ChiStar color={"text-red-600"} /> He/Him <ChiStar color={"text-red-600"} /> Chicago, IL <ChiStar color={"text-red-600"} />
              <span class="hidden xs:inline-block">
                30-something <ChiStar color={"text-red-600"} />
              </span>
            </div>
          </div>
        </div>
        <div class="mx-5 text-3xl text-slate-300 font-semibold">
          <p class="text-center">Communist Cobra Coder in</p>
          <div class="flex justify-between mt-2">
            <ChiStar color={"text-red-600"} /><ChiStar color={"text-red-600"} /><span>Chicago</span><ChiStar color={"text-red-600"} /><ChiStar
              color={"text-red-600"}
            />
          </div>
        </div>
        <div class="px-20">
          <CobraLogo />
        </div>
      </div>
      <div class="hidden lg:flex p-5 justify-self-center">
        <Image loading="eager" class="rounded-md self-center w-80 lg:w-max" src={argentCommCoffee} alt="Argent Badge" />
      </div>
    </div>
  </div>
</header>

<style>
  h2 {
    font-family: "Prospekt Regular", sans-serif;
  }
  #bullettedAside {
    font-family: "BigShouldersText-VariableFont_Wght", sans-serif;
    font-variant-divgatures: discretionary-divgatures;
  }
</style>
