---
interface Props {
  to: string;
  button?: boolean;
}

const { to, button = false } = Astro.props;
---

{
  button ? (
    <button class:list={["border-yellow", "hover:bg-yellow", "rounded-md", "border-2", "hover:text-black", "p-2"]}>
      <a class:list={["font-medium text-lg  w-max cursor-pointer  "]} href={to}>
        <slot />
      </a>
    </button>
  ) : (
    <a
      class:list={["font-medium text-md xs:text-lg  w-max cursor-pointer ", ["underline", "decoration-yellow", "decoration-2", "hover:text-amber-500"]]}
      href={to}
    >
      <slot />
    </a>
  )
}
