---
interface Props {
  leftRight: "left" | "right";
}
const { leftRight } = Astro.props;
const goldGradient = "bg-linear-45 from-amber-500 via-yellow-300 via-50% to-yellow-600";
---

{
  leftRight === "right" && (
    <div class="flex mt-10 justify-end ml-20">
      <div class="banner min-w-20 scale-x-[-1]" />
      <div class="bannerBg max-w-fit">
        <h1 class:list={["text-right text-8xl  bg-clip-text text-transparent mr-10", goldGradient]}>
          <slot />
        </h1>
      </div>
    </div>
  )
}
{
  leftRight === "left" && (
    <div class="flex mt-10 mr-20">
      <div class="bannerBg  max-w-fit ">
        <h1 class:list={["text-8xl  bg-clip-text text-transparent ml-10", goldGradient]}>
          <slot />
        </h1>
      </div>
      <div class="banner min-w-20" />
    </div>
  )
}

<style>
  .bannerBg {
    background-color: #7c0404;
  }
  .banner {
    background-color: #7c0404;
    clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
  h1 {
    font-family: "Prospekt Regular", sans-serif;
  }
</style>
