---
const goldGradient = "bg-linear-45 from-amber-500 via-yellow-300 via-50% to-yellow-600";
---

<div class="flex mt-10 w-full">
  <div class="bannerBg">
    <h1 class:list={["text-8xl  bg-clip-text text-transparent ml-10", goldGradient]}>
      <slot />
    </h1>
  </div>
  <div class="banner min-w-20 -ml-1 mr-5"></div>
</div>

<style>
  .bannerBg {
    background-color: #7c0404;
  }
  .banner {
    background-color: #7c0404;
    clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
  h1 {
    font-family: "Prospekt Regular", sans-serif;
  }
</style>

<!-- FIXME: code for border. .banner 2 is child div of .banner -->
<!-- <style>
  .bannerBg {
    background-color: var(--color-redDark);
  }
  .banner {
    background-color: var(--color-redDark);
    clip-path: polygon(90% 0%, 50% 50%, 90% 100%, 0% 100%, 0% 50%, 0% 0%);
    position: relative;
    padding-top: 4px;
    padding-right: 100px;
    padding-bottom: 4px;
    width: 80px;
    height: 104px;
  }
  .banner2 {
    position: absolute;
    width: 80px;
    height: 96px;
    /* padding-right: 10px; */
    clip-path: polygon(100% 0%, 55% 50%, 100% 100%, 0% 100%, 0% 90%, 0% 0%);
    background-color: var(--color-redDark);
  }
  h1 {
    font-family: "Prospekt Regular", sans-serif;
  }
</style> -->
