---
const goldGradient = "bg-linear-45 from-amber-500 via-yellow-300 via-50% to-yellow-600";
---

<div class="flex mt-10 w-full">
  <div class="bannerBg">
    <h1 class:list={["xs:text-8xl text-7xl bg-clip-text text-transparent ml-10", goldGradient]}>
      <slot />
    </h1>
  </div>
  <div class="banner min-w-20 -ml-1 mr-5"></div>
</div>

<style>
  .bannerBg {
    background-color: #7c0404;
  }
  .banner {
    background-color: #7c0404;
    clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
  h1 {
    font-family: "Prospekt Regular", sans-serif;
  }
</style>
