---
import { type CollectionEntry, getCollection } from "astro:content";
import PostSummary from "./PostSummary.astro";
import ChiStar from "./ChiStar.astro";

interface Props {
  posts: Array<CollectionEntry<"posts">>;
  tag?: string;
  postLimit?: number;
}

const tags = await getCollection("tags");

const { posts, tag: tagName, postLimit } = Astro.props;
const limit = postLimit ? postLimit : posts.length;
---

<div class="flex flex-col ">
  {
    !postLimit && (
      <div class="mb-8 flex flex-wrap gap-2">
        {tags.map((tag) => {
          const classes = ["bg-red-700", "text-white", "hover:bg-yellow-300"];
          if (tag.id === tagName) {
            classes[0] = "bg-red-500";
          }
          return (
            <a href={`/blog/${tag.id}`} class={classes.join(" ")}>
              #{tag.id}
            </a>
          );
        })}
      </div>
    )
  }
  <div class="flex flex-col">
    {
      posts.map((post, i) => {
        if (i < limit) {
          return (
            <div class="mt-5">
              <PostSummary post={post}  />
            </div>
            <div class="flex justify-around w-full text-2xl mt-5  py-2">
      </div>
          );
        }
      })
    }
  </div>
</div>

<style>
  h2 {
    font-family: "Prospekt Regular", sans-serif;
  }
</style>