---
import { Image } from "astro:assets";
import Link from "@components/Link.astro";
import ArgentSymmetrical from "@assets/argent/SymmetricalArgent_Orion.png";
---

<div class="grid grid-cols-1 auto-rows-min lg:flex justify-around gap-5 xs:justify-items-start justify-items-center p-0 xs:pb-5">
  <div class="grid xs:grid-cols-2 lg:flex auto-rows-min gap-5 justify-around">
    <div class="basis-1/3 flex-col gap-5 xs:col-span-1 items-center xs:m-auto lg:m-0 order-1">
      <div class="flex flex-col gap-5 justify-around h-full">
        <section>
          <h3 class="headerTxt text-4xl 2xl:text-5xl underline decoration-2 decoration-yellow hover:text-amber-500"><a href="/about">About Regal</a></h3>
          <ul class="flex flex-col gap-2 list-disc list-inside mt-2">
            <!-- <ul class="pl-5 list-disc list-outside [&_ul]:list-[revert]"> -->
            <li class="text-md xs:text-lg xl:text-2xl"><Link url="/about/coffee/#recommendations">Coffee Reccs</Link></li>
            <li class="text-md xs:text-lg xl:text-2xl"><Link url="/about/weightlifting/#regals-workout-advice">Workout Advice</Link></li>
          </ul>
        </section>
        <section>
          <h3 class="headerTxt text-4xl 2xl:text-5xl underline decoration-2 decoration-yellow hover:text-amber-500"><a href="/credits">Art Credits</a></h3>
          <ul class="flex flex-col gap-2 list-disc list-inside mt-2">
            <li class="text-md xs:text-lg xl:text-2xl"><Link url="/credits/#mutantStandard">Mutant Emoji</Link></li>
            <li class="text-md xs:text-lg xl:text-2xl"><Link url="/credits/#chicago">Chicago Designs</Link></li>
          </ul>
        </section>
      </div>
    </div>
    <div class="basis-1/3 col-span-1 xs:col-span-2 xs:row-start-2 row-start-3 self-center order-3 xs:order-2 xs:block hidden">
      <Image src={ArgentSymmetrical} alt="Argent Symm" class="rounded-lg max-w-[100%] sm:max-w-[80%] lg:max-w-[100%] m-auto" />
    </div>
    <div class="xs:flex flex-col gap-5 xs:col-span-1 basis-1/3 items-center xs:m-auto lg:m-0 order-2 xs:order-3">
      <div class="flex flex-col gap-5 justify-around h-full">
        <section>
          <h3 class="headerTxt text-4xl 2xl:text-5xl underline decoration-2 decoration-yellow hover:text-amber-500"><a href="/blog">Blog</a></h3>
        </section>
        <section>
          <h3 class="headerTxt text-4xl 2xl:text-5xl underline decoration-2 decoration-yellow hover:text-amber-500"><a href="/links">Cool Links</a></h3>
          <ul class="flex list-disc list-inside flex-col gap-2 mt-2">
            <li class="text-md xs:text-lg xl:text-2xl"><Link url="/links/#socials">Socials & Galleries</Link></li>
            <li class="text-md xs:text-lg xl:text-2xl"><Link url="/links/#queerArt">Queer Art</Link></li>
            <li class="text-md xs:text-lg xl:text-2xl"><Link url="/links/#buttons">88x31 Buttons</Link></li>
            <li class="text-md xs:text-lg xl:text-2xl"><Link url="/links/#misc">Misc. Links</Link></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="basis-1/3 col-span-1 xs:col-span-2 xs:row-start-2 row-start-3 self-center order-3 xs:order-2 xs:hidden block">
    <Image src={ArgentSymmetrical} alt="Argent Symm" class="rounded-lg max-w-[100%] sm:max-w-[80%] lg:max-w-[100%] m-auto" />
  </div>
</div>

<style>
  h3 {
    font-family: "prospekt regular", sans-serif;
  }
</style>
