---
interface Props {
  tagIds: string[];
  inline?: boolean;
  selected?: string;
}
const { tagIds, inline = false, selected } = Astro.props;

const inlineStyling = inline ? "text-amber-400" : "p-1.5 m-0.5 bg-redDark";
---

<div>
  <ul class="flex gap-2">
    {
      tagIds.map((tagId) => (
        <li>
          <a
            href={`/blog/tagged/${tagId}`}
            class:list={[
              "hover:brightness-150 rounded-lg underline decoration-1 font-medium decoration-white ",
              `${inlineStyling}`,
              `${selected === tagId ? " ring-2 ring-white brightness-150 grayscale-25" : ""}`,
            ]}
          >
            #{tagId}
          </a>
        </li>
      ))
    }
  </ul>
</div>
