---
import CobraLogo from "@components/CobraLogo.astro";

interface Exception {
  remove: string;
  replace: string;
  levels: number;
}

interface UrlSplitReference {
  urlDisplay: string;
  url: string;
}

const exceptions: Exception[] = [
  {
    remove: "",
    replace: "home",
    levels: 1,
  },
  {
    remove: "tagged",
    replace: "blog",
    levels: 1,
  },
];
const splitUrl: string[] = Astro.url.pathname.split("/").toSpliced(-1);

const returnPathName = (): UrlSplitReference => {
  // -1 for testing, -2 for prod.
  const topLevel = splitUrl[splitUrl.length - 2];

  const exception = [...exceptions].find((item) => item.remove === topLevel);

  return {
    urlDisplay: exception ? exception.replace : topLevel,
    url: exception?.replace === "home" ? "/" : splitUrl.toSpliced(-1, exception?.levels).join("/"),
  };
};
---

<nav class="py-2 bg-redDark border-redLight w-full flex xs:flex-row flex-col text-white">
  <a href="/" class="text-3xl border-r-0 xs:border-r-2 border-slate-200 border-opacity-75 mx-5 pr-4 flex items-center font-medium font-prospekt self-center">
    <div class="w-12">
      <CobraLogo />
    </div>
    <div class="text-white text-3xl flex items-center font-medium font-prospekt">
      COBRA<span class="text-4xl mb-1">★</span>MONSTER
    </div>
  </a>
  <div class="hidden items-center xs:flex">
    <ul class="flex gap-5 text-redDarkest font-medium">
      <li class="hover:scale-[1.15] transition duration-300">
        <a href={returnPathName().url} class:list={["capitalize px-2 py-1 bg-slate-200 rounded-full"]}>←︎ {returnPathName().urlDisplay}</a>
      </li>
    </ul>
  </div>
</nav>
