---
const linkStyle = ["underline", "decoration-yellow", "decoration-2", "hover:text-blue-500"];

const here = Astro.url.pathname;
const split = Astro.url.pathname.split("/");
const splitSpliced = split.toSpliced(-1);
const returnPathName = splitSpliced[splitSpliced.length - 1] === "" ? "home" : splitSpliced[splitSpliced.length - 1];
const rejoined = splitSpliced.join("/") === "" ? "/" : splitSpliced.join("/");

// TODO: if home, display nav links instead

const goldGradient = "bg-gradient-to-45 from-amber-600 via-yellow-200 via-50% to-yellow-600";
---

<nav class="py-2 bg-redDark border-redLight w-full flex text-white">
  <div class="text-zinc-300">
    <a href="/" id="logoLeft" class="text-2xl border-r-2 border-zinc-300 border-opacity-75 mx-5 pr-4 flex items-center font-medium"
      >☭COBRA<span class="text-3xl mb-1">★</span>MONSTER☭</a
    >
  </div>
  <div class="flex items-center">
    <ul class="flex gap-5 text-redDarkest font-medium">
      <li class="hover:scale-[1.15] transition duration-300">
        <a href={rejoined} class:list={["capitalize px-2 py-1 bg-zinc-300 rounded-full"]}>←︎ {returnPathName}</a>
      </li>
      <!-- <li>About</li>
      <li>Blog</li>
      <li>Links</li> -->
    </ul>
  </div>
</nav>
