---
import CobraLogo from "./CobraLogo.astro";

const split = Astro.url.pathname.split("/");
const splitSpliced = split.toSpliced(-1);
const returnPathName = splitSpliced[splitSpliced.length - 1] === "" ? "home" : splitSpliced[splitSpliced.length - 1];
const rejoined = splitSpliced.join("/") === "" ? "/" : splitSpliced.join("/");

// TODO: if home, display nav links instead
---

<nav class="py-2 bg-redDark border-redLight w-full flex xs:flex-row flex-col text-white">
  <a href="/" class="text-3xl border-r-0 xs:border-r-2 border-slate-200 border-opacity-75 mx-5 pr-4 flex items-center font-medium font-prospekt self-center">
    <div class="w-12">
      <CobraLogo />
    </div>
    <div class="text-white text-3xl flex items-center font-medium font-prospekt">
      COBRA<span class="text-4xl mb-1">★</span>MONSTER
    </div>
  </a>
  <div class="hidden items-center xs:flex">
    <ul class="flex gap-5 text-redDarkest font-medium">
      <li class="hover:scale-[1.15] transition duration-300">
        <a href={rejoined} class:list={["capitalize px-2 py-1 bg-slate-200 rounded-full"]}>←︎ {returnPathName}</a>
      </li>
    </ul>
  </div>
</nav>
