---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";

interface Props {
  homePage?: boolean;
  blog?: boolean;
}

const { homePage, blog } = Astro.props;

const bgSettings = () => {
  if (homePage) {
    return "gradientBg";
  }
  if (blog) {
    return "blogBg";
  }
  return "stripedBg";
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Regal — Scalie WebDev Furry Artist in Chicago" />
    <meta property="og:description" content="A communist coffee cobra's personal website" />
    <meta property="og:image" content="https://cobra.monster/websiteMetaHeader.png" />
    <meta property="og:url" content="https://cobra.monster" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="fediverse:creator" content="regal@yiff.life" />
    <title>COBRA.MONSTER</title>
    <ClientRouter />
  </head>

  <body>
    <div id="main" class:list={["min-h-[100vh] overflow-hidden table w-full border-separate", bgSettings()]}>
      <div class="@container table-row">
        <slot />
      </div>
      <Footer homePage={homePage} />
    </div>
  </body>
</html>
