---
import "../styles/global.css";
import Footer from "@components/Footer.astro";
import TopNav from "@components/TopNav.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>COBRA.MONSTER</title>
    <ClientRouter />
  </head>

  <body>
    <div class:list={["h-screen overflow-hidden flex flex-col w-full border-separate stripedBg justify-between"]}>
      <TopNav />
      <slot />
      <Footer />
    </div>
  </body>
</html>
