---
interface Props {
  numImages: 1 | 2;
}

const { numImages } = Astro.props;
---

{
  numImages === 1 && (
    <div class="max-w-[95%] m-auto gap-2 my-4 prose-p:m-0 prose-figure:m-0">
      <slot name="image" class="not-prose" />
      <figure class="text-center ">
        <slot name="caption" />
      </figure>
    </div>
  )
}
{
  numImages === 2 && (
    <div class="flex gap-2 my-4  justify-center prose-p:m-0 prose-figure:m-0">
      <div class="max-w-[47%]">
        <slot name="image-1" class="not-prose" />
        <figure class="text-center">
          <slot name="caption-1" />
        </figure>
      </div>
      <div class="max-w-[47%] prose-p:m-0 prose-figure:m-0">
        <slot name="image-2" class="not-prose" />
        <figure class="text-center">
          <slot name="caption-2" />
        </figure>
      </div>
    </div>
  )
}
